parameters:
	ignoreErrors:
		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: src/Jobs/PublishModelJob.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/Jobs/PublishModelJob.php

		-
			message: '#^Parameter \#1 \$delay of method Illuminate\\Foundation\\Bus\\PendingDispatch\:\:delay\(\) expects DateInterval\|DateTimeInterface\|int\|null, float given\.$#'
			identifier: argument.type
			count: 1
			path: src/Jobs/PublishModelJob.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getCurrentHash\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Listeners/HandleHashChanged.php

		-
			message: '#^Call to an undefined method ameax\\HashChangeDetector\\Contracts\\Hashable\:\:updateHash\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Listeners/HandleRelatedModelUpdated.php

		-
			message: '#^Trait ameax\\HashChangeDetector\\Traits\\InteractsWithHashes is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/InteractsWithHashes.php

		-
			message: '#^Trait ameax\\HashChangeDetector\\Traits\\SyncsFromExternalSources is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/SyncsFromExternalSources.php

		-
			message: '#^Trait ameax\\HashChangeDetector\\Traits\\TracksHashesOnly is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/TracksHashesOnly.php
